/* line 15, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
  font: 100% 'Lato', sans-serif;
}

/* line 24, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
html a:hover, html button:hover {
  cursor: pointer;
}

/* line 30, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
.nav-wrapper {
  z-index: 1000;
}

/* line 34, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
textarea {
  resize: none;
}

/* line 38, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
.page-contact a {
  color: #00bcd4;
  text-decoration: none;
}

@media only screen and (min-width: 1188px) {
  /* line 45, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper {
    background: linear-gradient(45deg, #00bcd4, #00c7e1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  /* line 53, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: ". brand navbuttons";
    grid-template-columns: 5% 25% 70%;
    align-items: center;
  }
  /* line 61, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 {
    grid-area: brand;
    justify-self: center;
  }
  /* line 65, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 a {
    text-decoration: none;
  }
  /* line 69, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 h2 {
    color: #eee;
    font-size: 200%;
    align-self: center;
    display: inline;
    position: relative;
    bottom: 10px;
    left: 5px;
  }
  /* line 79, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 img {
    width: 100px;
    align-self: center;
  }
  /* line 85, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons {
    grid-area: navbuttons;
    justify-self: end;
  }
  /* line 89, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul {
    list-style: none;
  }
  /* line 92, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul li {
    display: inline;
    padding: 0 60px;
  }
  /* line 99, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul [id='1']:before {
    content: "";
    position: absolute;
    margin-top: 26px;
    margin-left: 21px;
    width: 30px;
    height: 18px;
    background: no-repeat center center url("http://ben-harrington.com/imgs/003-interface.svg");
    opacity: 0.6;
  }
  /* line 113, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul [id='2']:before {
    content: "";
    position: absolute;
    margin-top: 26px;
    margin-left: 21px;
    width: 30px;
    height: 18px;
    background: no-repeat center center url("http://ben-harrington.com/imgs/002-wrench.svg");
    opacity: 0.6;
  }
  /* line 127, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul [id='3']:before {
    content: "";
    position: absolute;
    margin-top: 26px;
    margin-left: 21px;
    width: 30px;
    height: 18px;
    background: no-repeat center center url("http://ben-harrington.com/imgs/001-mail.svg");
    opacity: 0.6;
  }
  /* line 139, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul a {
    color: white;
    text-decoration: none;
    font-size: 120%;
  }
  /* line 149, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  /* line 155, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content {
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #eee;
    height: 40%;
    overflow: hidden;
    padding-bottom: 25px;
  }
  /* line 164, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content h3, .page-portfolio .card-content p {
    background: none;
    width: 50%;
  }
  /* line 169, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content h3 {
    font: 330% 'Lato', sans-serif;
    font-weight: 100;
    padding-top: 30px;
    color: #00bcd4;
  }
  /* line 176, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content p {
    font: 160% 'Oswald', sans-serif;
    padding-top: 60px;
    color: #777;
  }
  /* line 183, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #one.card-content {
    background: no-repeat top right url("http://ben-harrington.com/imgs/bg_card-one-desaturated.jpg");
    background-size: cover;
  }
  /* line 187, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #one.card-content .img-and-text {
    text-align: left;
  }
  /* line 190, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #one.card-content .img-and-text h3, .page-portfolio #one.card-content .img-and-text p {
    margin-left: 30px;
  }
  /* line 196, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #two.card-content {
    background: no-repeat top right url("http://ben-harrington.com/imgs/bg_card-two-desaturated.jpg");
    background-size: cover;
  }
  /* line 200, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #two.card-content .img-and-text {
    text-align: right;
    width: 50%;
    position: relative;
    float: right;
    margin-right: 30px;
  }
  /* line 207, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #two.card-content .img-and-text h3, .page-portfolio #two.card-content .img-and-text p {
    width: 100%;
  }
  /* line 213, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content {
    background: url("http://ben-harrington.com/imgs/bg_keyboard-desaturated.jpg");
    background-size: cover;
  }
  /* line 217, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content .img-and-text {
    text-align: left;
  }
  /* line 220, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content .img-and-text h3, .page-portfolio #three.card-content .img-and-text p {
    margin-left: 30px;
  }
  /* line 224, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content .img-and-text a {
    color: #444;
    font: 100% 'Oswald', sans-serif;
    text-decoration: none;
  }
  /* line 233, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home {
    margin: 20% 0;
    width: 100%;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 25% 25%;
    grid-template-areas: "marg-l1 mid1 marg-r1" "marg-l2 mid2 marg-r2" "marg-l3 mid3 marg-r3" "marg-l4 mid4 marg-r4";
  }
  /* line 245, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro, .page-home .react-front-end, .page-home .about-me {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  /* line 250, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro h3, .page-home .intro p, .page-home .react-front-end h3, .page-home .react-front-end p, .page-home .about-me h3, .page-home .about-me p {
    width: 100%;
    color: #777;
  }
  /* line 255, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro h3, .page-home .react-front-end h3, .page-home .about-me h3 {
    font: 330% 'Lato', sans-serif;
    font-weight: 100;
    color: #00bcd4;
  }
  /* line 261, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro p, .page-home .react-front-end p, .page-home .about-me p {
    margin-top: 2%;
    font: 180% 'Oswald', sans-serif;
  }
  /* line 267, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro {
    grid-area: mid3;
    margin-bottom: 300px;
  }
  /* line 272, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .react-front-end {
    grid-area: mid4;
    margin-bottom: 300px;
  }
  /* line 277, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .about-me {
    grid-area: mid1;
  }
  /* line 281, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home a {
    width: 200px;
    height: 75px;
    margin-bottom: 300px;
    margin-top: 50px;
  }
  /* line 287, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home a button {
    height: 75px;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font: 150% 'Lato', sans-serif;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  /* line 299, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .link-services {
    grid-area: mid2;
    margin-left: 20%;
  }
  /* line 303, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .link-services button {
    background: linear-gradient(45deg, #4caf50, #009688);
  }
  /* line 308, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .link-contact {
    grid-area: mid2;
    margin-left: 60%;
  }
  /* line 312, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .link-contact button {
    background: linear-gradient(45deg, #009688, #4caf50);
  }
  /* line 317, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home img#mountain {
    grid-area: marg-l4;
    width: 90%;
    margin-left: 10%;
    align-self: center;
    justify-self: center;
  }
  /* line 326, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services {
    width: 100%;
    height: 150%;
    margin-top: 10%;
  }
  /* line 331, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv {
    width: 55%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 60px 30px;
  }
  /* line 340, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv h3, .page-services .card-serv p {
    color: #777;
  }
  /* line 344, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv h3 {
    font: 400% 'Lato', sans-serif;
    font-weight: 100;
    color: #00c7e1;
  }
  /* line 350, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv p {
    font: 130% 'Oswald', sans-serif;
    margin-top: 35px;
  }
  /* line 357, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact {
    margin-top: 15%;
    margin-bottom: 10%;
    width: 100%;
  }
  /* line 362, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact h3, .page-contact p {
    text-align: center;
    width: 60%;
    margin: auto;
  }
  /* line 368, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact h3 {
    color: #00bcd4;
    font: 300% 'Lato', sans-serif;
    font-weight: 100;
  }
  /* line 374, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact p {
    color: #777;
    font: 140% 'Oswald', sans-serif;
  }
  /* line 379, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 60px 60px;
    border-radius: 15px;
  }
  /* line 390, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form input {
    width: 100%;
    min-height: 5%;
    margin: 10px 0;
    padding: 15px 0;
  }
  /* line 397, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form textarea {
    min-height: 25%;
  }
  /* line 401, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form .button-sub {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    padding: 20px 0;
    background: linear-gradient(45deg, #009688, #4caf50);
    color: #eee;
    font: 200% 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-height: 100px) and (max-height: 750px) {
  /* line 422, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-home a {
    top: 50vh;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1188px) {
  /* line 431, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper {
    background: linear-gradient(45deg, #00bcd4, #00c7e1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  /* line 439, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: ". brand navbuttons";
    grid-template-columns: 5% 25% 70%;
    align-items: center;
  }
  /* line 447, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 {
    grid-area: brand;
    justify-self: center;
  }
  /* line 451, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 a {
    text-decoration: none;
  }
  /* line 455, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 h2 {
    color: #eee;
    font-size: 200%;
    align-self: center;
    display: inline;
    position: relative;
    bottom: 10px;
    left: 5px;
  }
  /* line 465, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container h1 img {
    width: 100px;
    align-self: center;
  }
  /* line 471, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons {
    grid-area: navbuttons;
    justify-self: end;
  }
  /* line 475, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul {
    list-style: none;
  }
  /* line 478, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul li {
    display: inline;
    padding: 0 60px;
  }
  /* line 483, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul a {
    color: white;
    text-decoration: none;
    font-size: 120%;
  }
  /* line 488, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul a::after {
    content: "";
    background-color: #fff;
    height: 10px;
    width: 0;
  }
  /* line 495, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .nav-wrapper .nav-container .nav-buttons ul a:hover::after {
    width: 100%;
    height: 10px;
  }
  /* line 505, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  /* line 511, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content {
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #eee;
    height: 40%;
    overflow: hidden;
    padding-bottom: 25px;
  }
  /* line 520, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content h3, .page-portfolio .card-content p {
    background: none;
    width: 50%;
  }
  /* line 525, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content h3 {
    font: 330% 'Lato', sans-serif;
    font-weight: 100;
    padding-top: 30px;
    color: #00bcd4;
  }
  /* line 532, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio .card-content p {
    font: 160% 'Oswald', sans-serif;
    padding-top: 60px;
    color: #777;
  }
  /* line 539, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #one.card-content {
    background: no-repeat top right url("http://localhost:3000/imgs/bg_card-one-desaturated.jpg");
    background-size: cover;
  }
  /* line 543, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #one.card-content .img-and-text {
    text-align: left;
  }
  /* line 546, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #one.card-content .img-and-text h3, .page-portfolio #one.card-content .img-and-text p {
    margin-left: 30px;
  }
  /* line 552, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #two.card-content {
    background: no-repeat top right url("http://localhost:3000/imgs/bg_card-two-desaturated.jpg");
    background-size: cover;
  }
  /* line 556, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #two.card-content .img-and-text {
    text-align: right;
    width: 50%;
    position: relative;
    float: right;
    margin-right: 30px;
  }
  /* line 563, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #two.card-content .img-and-text h3, .page-portfolio #two.card-content .img-and-text p {
    width: 100%;
  }
  /* line 569, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content {
    background: url("http://localhost:3000/imgs/bg_keyboard-desaturated.jpg");
    background-size: cover;
  }
  /* line 573, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content .img-and-text {
    text-align: left;
  }
  /* line 576, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content .img-and-text h3, .page-portfolio #three.card-content .img-and-text p {
    margin-left: 30px;
  }
  /* line 580, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-portfolio #three.card-content .img-and-text a {
    color: #444;
    font: 100% 'Oswald', sans-serif;
    text-decoration: none;
  }
  /* line 589, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home {
    margin: 20% 0;
    width: 100%;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 25% 25%;
    grid-row-gap: 400px;
    grid-template-areas: "marg-l1 mid1 marg-r1" "marg-l2 mid2 marg-r2" "marg-l3 mid3 marg-r3";
  }
  /* line 601, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro, .page-home .react-front-end, .page-home .about-me {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  /* line 606, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro h3, .page-home .intro p, .page-home .react-front-end h3, .page-home .react-front-end p, .page-home .about-me h3, .page-home .about-me p {
    width: 100%;
    color: #777;
  }
  /* line 611, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro h3, .page-home .react-front-end h3, .page-home .about-me h3 {
    font: 330% 'Lato', sans-serif;
    font-weight: 100;
    color: #00bcd4;
  }
  /* line 617, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro p, .page-home .react-front-end p, .page-home .about-me p {
    margin-top: 2%;
    font: 180% 'Oswald', sans-serif;
  }
  /* line 623, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .intro {
    grid-area: mid2;
  }
  /* line 627, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .react-front-end {
    grid-area: mid3;
  }
  /* line 631, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home .about-me {
    grid-area: mid1;
  }
  /* line 635, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-home img#mountain {
    grid-area: marg-l3;
    width: 90%;
    margin-left: 10%;
    align-self: center;
    justify-self: center;
  }
  /* line 644, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services {
    width: 100%;
    height: 150%;
    margin-top: 10%;
  }
  /* line 649, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv {
    width: 55%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 60px 30px;
  }
  /* line 658, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv h3, .page-services .card-serv p {
    color: #777;
  }
  /* line 662, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv h3 {
    font: 400% 'Lato', sans-serif;
    font-weight: 100;
    color: #00c7e1;
  }
  /* line 668, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-services .card-serv p {
    font: 130% 'Oswald', sans-serif;
    margin-top: 35px;
  }
  /* line 675, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
  }
  /* line 680, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact h3, .page-contact p {
    text-align: center;
    width: 60%;
    margin: auto;
  }
  /* line 686, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact h3 {
    color: #00bcd4;
    font: 300% 'Lato', sans-serif;
    font-weight: 100;
  }
  /* line 692, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact p {
    color: #777;
    font: 140% 'Oswald', sans-serif;
  }
  /* line 697, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 60px 60px;
    border-radius: 15px;
  }
  /* line 708, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form input {
    width: 100%;
    min-height: 5%;
    margin: 10px 0;
    padding: 15px 0;
  }
  /* line 715, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form textarea {
    min-height: 25%;
  }
  /* line 719, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  .page-contact form .button-sub {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    padding: 20px 0;
    background: linear-gradient(45deg, #009688, #4caf50);
    color: #eee;
    font: 200% 'Lato', sans-serif;
    font-weight: 400;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  /* line 734, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html {
    font-size: 160%;
    width: 100%;
  }
  /* line 738, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper {
    height: 300px;
  }
  /* line 741, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container {
    grid-template-areas: "brand" "navbuttons";
    grid-template-columns: 100%;
  }
  /* line 747, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container h1 {
    font-size: 100%;
  }
  /* line 752, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container h1 .home-logo img {
    width: 200px;
  }
  /* line 758, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container .nav-buttons {
    justify-self: center;
  }
  /* line 762, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container ul {
    margin-top: -60px;
    margin-left: 10px;
    justify-self: center;
  }
  /* line 767, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container ul li {
    margin: 0;
    padding: 0 60px;
    font-size: 120%;
  }
  /* line 775, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .nav-wrapper .nav-container ul [id='1']::before, html .nav-wrapper .nav-container ul [id='2']::before, html .nav-wrapper .nav-container ul [id='3']::before {
    width: 100px;
    height: 40px;
    margin-top: 50px;
  }
  /* line 785, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-home {
    margin-top: 40%;
    width: 100%;
  }
  /* line 789, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-home img#mountain {
    display: none;
  }
  /* line 794, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-services {
    margin-top: 40%;
  }
  /* line 797, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-services .card-serv {
    width: 80%;
    margin-top: 15%;
  }
  /* line 801, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-services .card-serv p {
    font-size: 180%;
  }
  /* line 807, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-portfolio {
    margin-top: 35%;
    margin-bottom: 20%;
    width: 100%;
  }
  /* line 812, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-portfolio .card-content#one, html .page-portfolio .card-content#two, html .page-portfolio .card-content#three {
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding: 30px 0;
    background: none;
    background-color: #eee;
  }
  /* line 820, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-portfolio .card-content#one .img-and-text, html .page-portfolio .card-content#two .img-and-text, html .page-portfolio .card-content#three .img-and-text {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }
  /* line 825, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-portfolio .card-content#one .img-and-text h3, html .page-portfolio .card-content#two .img-and-text h3, html .page-portfolio .card-content#three .img-and-text h3 {
    font-size: 400%;
  }
  /* line 829, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-portfolio .card-content#one .img-and-text h3, html .page-portfolio .card-content#one .img-and-text p, html .page-portfolio .card-content#two .img-and-text h3, html .page-portfolio .card-content#two .img-and-text p, html .page-portfolio .card-content#three .img-and-text h3, html .page-portfolio .card-content#three .img-and-text p {
    text-align: left;
    width: 100%;
    margin-left: 15px;
  }
  /* line 835, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-portfolio .card-content#one .img-and-text p, html .page-portfolio .card-content#two .img-and-text p, html .page-portfolio .card-content#three .img-and-text p {
    font-size: 180%;
  }
  /* line 842, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-contact {
    margin: 40% 0;
    font-size: 180%;
  }
  /* line 846, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-contact h3, html .page-contact p {
    width: 90%;
  }
  /* line 850, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-contact h3 {
    font-size: 200%;
  }
  /* line 853, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-contact h3 a {
    font: 50% 'Lato', sans-serif;
  }
  /* line 858, D:/web dev/ReactSSRCasts-master/myServer/public/styles/scss/styles.scss */
  html .page-contact form {
    width: 80%;
  }
}

/*# sourceMappingURL=../css/styles.map */